.vm-field
  .vm-select-container
    width 100%
    position relative

    &.active
      .vm-select-input
      .vm-select-input-block
        border-bottom-left-radius 0
        border-bottom-right-radius 0

      .vm-select-trigger
        z-index 13

      .vm-select-input
        position relative
        z-index 13
        transition border-radius .1s

      .vm-select-input-overlay
        z-index 13

  .vm-select-input
    padding-right var(--right-icon-width)
    text-overflow ellipsis
    transition border-radius .1s .2s
    z-index 2

  .vm-select-input-block
    border-radius var(--border-radius)
    color currentColor
    display flex
    position relative

  .vm-select-input-overlay
    bottom 0
    cursor pointer
    height 100%
    left 0
    position absolute
    right 0
    top 0
    width 100%
    z-index 2

  .vm-select-trigger
    cursor pointer
    position absolute
    right 0
    top 50%
    transform translateY(-50%)
    width var(--right-icon-width)
    z-index 3
    align-items center
    display flex
    height var(--field-height)
    justify-content center

    .vm-icon
      font-size var(--select-icon-size)

  .vm-select-options-group
  .vm-select-options
    width 100%
    overflow-x hidden
    overflow-y auto
    margin 0
    padding 0
    user-select none

    & .vm-select-option.vm-column
      flex-direction: column
      align-items flex-start

      > .vm-select-option-text
        text-transform: uppercase
        //opacity .5
        font-weight 600
        font-size: 13px
        line-height 2
        color black

  .vm-select-options
    max-height var(--select-container-height)

  .vm-select-options-group
    overflow unset

  .vm-select-options-container
    background-color var(--select-container-bg)
    border-bottom-left-radius var(--border-radius)
    border-bottom-right-radius var(--border-radius)
    border var(--border-width) solid var(--select-container-border)
    border-top var(--border-width) solid var(--select-container-border-top)
    font-size 1em
    left 0
    overflow hidden
    padding 5px 0
    position absolute
    right 0
    z-index 12

  .vm-select-option
    flex none
    color currentColor
    cursor pointer
    display: flex
    flex-direction: row
    align-items: center
    justify-content space-between

    &:not(.vm-column)
      &::after
        background-color var(--validation-success)
        border-radius 20px
        content ''
        display none
        height 1em
        margin-right calc(var(--right-icon-width) / 2 - 0.5em)
        width 1em
        transition all .2s

      &:hover
        background-color var(--select-option-bg-hover)
        color var(--select-option-color-hover)

      &.selected
        &::after
          display inline-block

    .vm-select-option-text
      display block
      overflow hidden
      text-overflow ellipsis
      white-space nowrap
      line-height 2.5em
      padding 0 var(--padding)
